*,
*::before,
*::after {
  font-feature-settings: "kern";
  font-kerning: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

input:is([type="checkbox"], [type="radio"]),
select,
label,
button {
  cursor: pointer;
}

input,
select,
textarea,
button {
  font: inherit;
}

img,
svg,
video {
  max-inline-size: 100%;
  block-size: auto;
}

svg {
  fill: currentcolor;
}

@media (forced-colors: active) {
  button {
    border: 1px solid;
  }
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}