.page {
  height: 100vh;
  display: flex;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50vw;
  height: 50vw;
  border-radius: 50%;
  border: 3px solid white;
  transform: translate(-50%, -50%);
}