.window {
  --window-frame-gap: 4px;
  position: relative;
  z-index: 10;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(10px);
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
}

.windowHeader {
  color: var(--color-window-title);
  position: relative;
  /* border-bottom: 1px solid var(--color-window-border); */
  width: 100%;
  flex: none;
  cursor: move;
  z-index: 1;
  transition: color 0.1s var(--flicker-easing);

  &:hover {
    color: var(--color-primary);
  }

  .windowHeaderContent {
    background-color: var(--color-window-background);
    margin: var(--window-frame-gap);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1rem;
  }

  .windowHeaderRight,
  .windowHeaderLeft {
    margin: 3px;
    height: calc(100% - 6px);
    aspect-ratio: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
    flex: none;
  }

  .windowTitle {
    font-size: 0.6rem;
    text-transform: uppercase;
    flex: none;
    margin: 0 0.5rem;
    height: 1em;
    line-height: 1;
  }

  .windowHeaderAccent {
    margin: 0 5px;
    flex: 1;
    position: relative;
    height: 100%;

    &::before,
    &::after {
      content: "";
      left: 1rem;
      right: 1rem;
      height: 1px;
      background-color: var(--color-window-border);
      position: absolute;
      top: 40%;
    }

    &::after {
      top: 60%;
    }
  }

  .windowHeaderRibbon {
    height: 0.8rem;
    margin: 0 5px;
    flex: 1;
    /* color: var(--color-primary); */
    /* opacity: 0.4; */
  }
}

.windowBody {
  font-family: sans-serif;
  flex: 1;
  /* border-radius: 0 0 4px 4px; */
  /* overflow: hidden; */
  position: relative;
  z-index: 1;
  /* margin-top: calc(var(--window-frame-gap) - 1px); */
  margin-top: -1px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.windowBodyContent {
  background-color: var(--color-window-background);
  flex: 1;
  margin: var(--window-frame-gap);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.windowFrame,
.windowHeaderFrame,
.windowContentFrame {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* top: calc(var(--window-frame-gap) * -1);
  left: calc(var(--window-frame-gap) * -1);
  right: calc(var(--window-frame-gap) * -1);
  bottom: calc(var(--window-frame-gap) * -1); */
  pointer-events: none;
}
