.page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.pageContent {
  /* display: grid; */
  /* grid-template-columns: repeat(var(--column-count), var(--column-width-safe)); */
  /* grid-template-rows: repeat(var(--row-count), 1fr); */
  /* grid-auto-rows: var(--row-height-safe); */
  /* gap: calc(var(--column-padding) * 2); */
  /* justify-content: stretch; */
  /* align-items: stretch; */
  padding-block: calc(var(--column-padding) * 2);
  margin-inline: calc(var(--page-margin-inline) + var(--column-padding));
  width: var(--grid-width-safe);
  min-height: 100%;
}
