.container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
}

.dotGrid {
    /* --grid-margin: calc(var(--page-margin) * 1.5); */
    --dot-color: var(--faint-accent-color);
    /* --dot-color: var(--strong-accent-color); */
    /* --dot-color: darkorange; */
    --dot-size: 1px;
    --grid-margin: 0;
    --grid-spacing: 1rem;
    position: absolute;
    top: var(--grid-margin);
    bottom: var(--grid-margin);
    left: var(--grid-margin);
    right: var(--grid-margin);
    /* background-image: radial-gradient(var(--faint-accent-color) 1px, transparent 1px); */
    background-image: radial-gradient(var(--dot-color) var(--dot-size), transparent var(--dot-size));
    background-size: var(--grid-spacing) var(--grid-spacing);
    opacity: 0.2;
    /* opacity: 0.2; */
}