.background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
  background-image: radial-gradient(
    var(--color-background-center),
    var(--color-background-edge)
  );
  z-index: var(--layer-background);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: radial-gradient(
      farthest-side at 50% 50%,
      transparent 0%,
      black 580%
    );
    filter: contrast(100%) brightness(600%) grayscale(1);
    background-size: 100% 100%;
    background-position: 50% 50%;
    mix-blend-mode: multiply;
    mask: var(--noise);
    opacity: 1;
    z-index: 2;
  }
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  mix-blend-mode: multiply;
  mix-blend-mode: screen;
  /* mix-blend-mode: overlay; */
  z-index: 1;
  filter: contrast(1.25) brightness(0.5);
  /* opacity: 0.25; */
}

.gridContainer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: var(--layer-grid);
  perspective: 100vw;
  transform-style: preserve-3d;
  pointer-events: none;
}

.gridPattern,
.pointPattern {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  transform: translateZ(-50vw);
  transition: opacity 0.3s linear,
    transform 0.6s cubic-bezier(0, 1.263, 0.484, 0.955);
}

.pointPattern {
  transform: translateZ(50vw);
  transition: opacity 0.3s linear,
    transform 0.4s cubic-bezier(0, 1.263, 0.484, 0.955) 0.2s;
}

.showGrid {
  opacity: 1;
  transform: translateZ(0);
}

/* .fredHead {
    position: absolute;
    top: 0;
    left: 0;
    height: 140vh;
    top: 50%;
    left: 33%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1;
    object-fit: cover;
    mix-blend-mode: screen;
    z-index: 1;
    filter: contrast(1.25);
} */
